{% extends 'base.html'%}

{% block content %}

<main class="about_us">
    <br>
    <br>
    <H5>Why choose us?</H5>
    <br>
    <p>Have you ever sold a car without Service book? Then you know the value immediately drops without one. 
        Have you ever bought a car without Service book and thought if the car was serviced correctly or what repairs were done?
        Have you ever forgotten when the last service was done or when the next one is due?
    </p>
    <br>
    <p>Then On Serv is for you. Our Software serves as an online service book and records all the repairs that have been done on your vehicle. 
        We go via the VIN number so you can be sure that the repairs and services listed are really for that car. Clients can choose to input the 
        repairs themselfs or when a company joins our network they can submit it on your behalf and it will be automatically recorded.
    </p>
    <br>
    <p>Once you or the service center entered the service you will automatically receive a push notification on when the next service is due. 
        This is done by calculating the average km driven by year.
    </p>
</main>
 

{% endblock %}