

{% extends 'base.html'%}

{% block content %}
<br>
    <div class="row">
      <aside class="col-4"></aside>
      <main class="col-4 card">
        <div class="row login-div">
          <div class="col-12 card-title " style="text-align: center;"><h2>Login</h2></div>
        </div>

        <div class="container-fluid">
        <form action="{% url 'user_auth:authenticate_user' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Username:</label>
            <br>
            <input type="text" name="username" placeholder="User" required />
          </div>
         
         
            <div class="form-group">
              <label>Password:</label>
              <br>
              <input type="password" name="password" required />
            </div>

          <div class="row">
            <div class="col-12 align-right top-margin">
              <br>
              <input class="btn btn-primary" style="float: right;" type="submit" value="Login" />
            </div>
            <br>
            <div style="float: right; text-align: right; font-size: 0.85rem; margin-bottom: 10px;" class="col-12 register"><a href="{% url 'user_auth:register_user'%}">Register here</a></div>
          </div>
        </form>
      </div>
      </main>
      <aside class="col-4"></aside>
    </div>

    {% endblock %}
