{% extends 'base.html'%}

{% block content %}

    <div class="row">
      <aside class="col-5"></aside>
      <main class="col-2 card">
        <div class="row">
          <div class="col-12 card-title"><h2>Login</h2></div>
        </div>

        
        <form action="{% url 'user_auth:authenticate_user' %}" method="post">
          {% csrf_token %}
          <label>Username:</label>
          <input type="text" name="username" placeholder="User" required />

          <label>Password:</label>
          <div class="row">
            <div class="col-12">
              <input type="password" name="password" required />
            </div>
          </div>
          <div class="row">
            <div class="col-12 align-right top-margin">
              <input type="submit" value="Login" />
            </div>
            <div class="col-12 register"><a href="{% url 'user_auth:register_user'%}">Register here</a></div>
          </div>
        </form>
      </main>
      <aside class="col-5"></aside>
    </div>

    {% endblock %}
