{% extends 'base.html'%}

{% block content %}
    
    <div class="row">
      <aside class="col-4"></aside>
    
      <main class="col-4 card" style="margin-top: 40px; padding-left: 50px; padding-right: 50px;">
        <div class="row">
       
          <div class="col-12 card-title" style="text-align: center; margin-top: 20px;"><h2>Create Account</h2></div>
        </div>

        {% if form.errors %}
        <p>There was an error.</p>

        {% endif %}
        
        <form action="{% url 'user_auth:register_user' %}" method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-field">
              {{ field.label_tag }}
              <br>
              {{ field }}
              {{ field.errors }}
          </div>
          {% endfor %}
              <input style="float: right; margin-top: 20px;" class="btn btn-primary" type="submit" value="Register" />
          
        </form>
      </main>
      <aside class="col-4"></aside>
    </div>
{% endblock %}